<!DOCTYPE html>
<html>
<head>
  <title>Bustrackers2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"></link>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOZZYn7WgUE2-WztAC3zhe7KRtxge3qWw"></script>
</head>
<body class="<%= controller_name %>">

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                <%= render 'layouts/nav' %>
                </div>
                <div class="inner cover">
                    <%= yield %>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
